:root {
  --background: #131313;
  --foreground: #e5e2e1;
  --primary: #ddb7ff;
  --primary-container: #b76dff;
  --on-primary: #490080;
  --secondary: #d3bfe2;
  --secondary-container: #524360;
  --on-secondary: #382b46;
  --tertiary: #fabc4e;
  --tertiary-container: #bd871a;
  --on-tertiary: #432c00;
  --surface: #131313;
  --surface-variant: #353534;
  --on-surface: #e5e2e1;
  --on-surface-variant: #cfc2d6;
  --outline: #988d9f;
  --error: #ffb4ab;
  --on-error: #690005;
  --error-container: #93000a;
  --on-error-container: #ffdad6;
  
  --font-main: 'Space Grotesk', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow: hidden;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
}

/* Custom scrollbar for terminal vibe */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
  border-left: 1px solid var(--primary);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

.dither-bg {
  background-image: repeating-linear-gradient(45deg, var(--primary) 25%, transparent 25%, transparent 75%, var(--primary) 75%, var(--primary)), 
                    repeating-linear-gradient(45deg, var(--primary) 25%, var(--background) 25%, var(--background) 75%, var(--primary) 75%, var(--primary));
  background-position: 0 0, 2px 2px;
  background-size: 4px 4px;
}

.grid-bg {
  background-image: linear-gradient(to right, rgba(221, 183, 255, 0.25) 1px, transparent 1px), 
                    linear-gradient(to bottom, rgba(221, 183, 255, 0.25) 1px, transparent 1px);
  background-size: 32px 32px;
}


@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.cursor-blink {
  animation: blink 1s infinite step-end;
}

